/* ==================================================================== FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100&display=swap);

/* ==================================================================== NULLIFY */
img {
	vertical-align: top;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-style: inherit;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

/* ==================================================================== GLOBAL */

html,
body {
	height: 100%;
	min-width: 320px;
	line-height: 1;
}
body {
	font-family: Roboto;
	font-weight: 400;
	background-color: #efeee9;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ==================================================================== HEADER */
.header {
	padding: 70px 0px 80px 0px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
}
.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	color: rgba(34, 34, 34, 1);
	opacity: 2;
	font-size: 12px;
}
.nav__item {
	text-transform: uppercase;
	letter-spacing: 5px;
}
.logo {
	font-size: 24px;
	letter-spacing: 12px;
}
@media screen and (max-width: 993px) {
	.header {
		padding: 60px 0px 70px 0px;
	}
	.nav__list {
		gap: 30px;
	}
}
@media screen and (max-width: 769px) {
	.header {
		padding: 50px 0px 50px 0px;
	}
	.nav__list {
		flex-wrap: wrap;
	}
	.logo {
		order: -1;
		width: 100%;
		text-align: center;
	}
}
@media screen and (max-width: 481px) {
	.header {
		padding: 30px 0px 30px 0px;
	}
	.nav__list {
		gap: 20px;
	}
}

/* ==================================================================== MAIN / SECTION-TOP */
.section-top {
	height: 100vh;
	background-image: url(../img/main/main-top-bg.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}
.section-top__container {
	position: relative;
}
.section-top__text {
	position: absolute;
	font-size: 24px;
	top: 85vh;
	right: 0px;
	max-width: 555px;
	height: auto;
	font-weight: 300;
	color: rgba(51, 51, 51, 1);
	line-height: 130%;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(226, 226, 224, 0.3);
}
@media screen and (max-width: 1201px) {
	.section-top__text {
		background-color: rgba(226, 226, 224, 0.5);
	}
}
@media screen and (max-width: 769px) {
	.section-top__text {
		font-size: 22px;
	}
}
@media screen and (max-width: 481px) {
	.section-top__text {
		font-size: 20px;
		top: 80vh;
	}
}

/* ==================================================================== MAIN / SECTION-VIEW */
.section-view {
	padding: 190px 0;
}
.section-view__container {
	text-align: center;
	padding: 100px 190px;
	background-color: #fff;
	color: rgba(24, 24, 24, 1);
}
.section-view__title {
	color: rgba(61, 61, 61, 1);
	font-size: 40px;
	font-family: Roboto Slab;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 80px;
	text-align: center;
}
.section-view__text {
	text-align: left;
	line-height: 140%;
	font-size: 20px;
	margin-bottom: 85px;
}
.section-view__button {
	display: inline-flex;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 133%;
	font-weight: 900;
	padding: 15px 35px;
	border: 2px solid rgba(24, 24, 24, 1);
}
@media screen and (max-width: 1201px) {
	.section-view {
		padding: 90px 0;
	}
	.section-view__container {
		padding: 80px 120px;
		max-width: 930px;
	}
}
@media screen and (max-width: 1025px) {
	.section-view {
		padding: 80px 0;
	}
	.section-view__container {
		padding: 70px 100px;
		max-width: 680px;
	}
}
@media screen and (max-width: 993px) {
	.section-view {
		padding: 70px 0;
	}
	.section-view__container {
		padding: 60px 80px;
		max-width: 680px;
	}
}
@media screen and (max-width: 769px) {
	.section-view {
		padding: 60px 0;
	}
	.section-view__container {
		padding: 30px 40px;
		max-width: 430px;
	}
	.section-view__title {
		font-size: 36px;
		margin-bottom: 40px;
	}
	.section-view__text {
		line-height: 140%;
		font-size: 18px;
		margin-bottom: 55px;
	}
	.section-view__button {
		font-size: 16px;
		line-height: 120%;
	}
}
@media screen and (max-width: 481px) {
	.section-view {
		padding: 40px 0;
	}
	.section-view__container {
		padding: 15px 15px;
		max-width: 300px;
	}
	.section-view__title {
		margin-bottom: 30px;
	}
	.section-view__text {
		font-size: 15px;
		margin-bottom: 25px;
	}
	.section-view__button {
		font-size: 14px;
	}
}

/* ==================================================================== MAIN / SECTION-GALLERY */
.gallery__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0;
}
.gallery__item {
	display: block;
	position: relative;
	overflow: hidden;
}
.gallery__item:hover .gallery__text {
	opacity: 1;
	transition: all 0.5s;
}
.gallery__text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 24px;
	color: #fefefe;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: all 0.5s;
}
.gallery__image {
	width: 100%;
	height: auto;
	object-fit: cover;
}
@media screen and (max-width: 769px) {
	.gallery__items {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto, 1fr);
	}
}
@media screen and (max-width: 481px) {
	.gallery__items {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* ==================================================================== MAIN / SECTION-TEXT */

.section-text {
	padding: 210px 0;
}
.section-text__text {
	max-width: 768px;
	margin: 0 auto;
	text-align: center;
	font-size: 34px;
	font-weight: 100;
	color: #222222;
	letter-spacing: 1px;
	line-height: 1.2;
}
@media screen and (max-width: 993px) {
	.section-text {
		padding: 150px 20px;
	}
}
@media screen and (max-width: 769px) {
	.section-text {
		padding: 100px 20px;
	}
	.section-text__text {
		font-size: 28px;
	}
}
@media screen and (max-width: 481px) {
	.section-text {
		padding: 60px 20px;
	}
	.section-text__text {
		font-size: 25px;
	}
}

/* ==================================================================== MAIN / SECTION-LIST */
.section-list__wrapper {
	display: flex;
	gap: 0;
}
.section-list__left {
	flex: 0 0 50%;
}
.section-list__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section-list__right {
	flex: 0 0 50%;
	padding: 160px 0 0 130px;
	background-color: #fff;
}
.section-list__item {
	font-weight: 300;
	font-size: 14px;
	max-width: 300px;
}
.section-list__item:not(:last-child) {
	margin-bottom: 45px;
}
.section-list__title {
	color: #290a59;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-bottom: 12px;
}
.section-list__text {
	color: #6d6081;
	line-height: 1.5;
}
@media screen and (max-width: 1281px) {
	.section-list__right {
		padding: 120px 0 0 90px;
	}
}
@media screen and (max-width: 1201px) {
	.section-list__right {
		padding: 70px 0 0 60px;
	}
}
@media screen and (max-width: 1025px) {
	.section-list__item {
		max-width: 100%;
		padding-right: 20px;
	}
	.section-list__item:not(:last-child) {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 993px) {
	.section-list__right {
		padding: 15px 15px 15px 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.section-list__item:not(:last-child) {
		margin-bottom: 25px;
	}
	.section-list__text {
		line-height: 1.3;
	}
	.section-list__title {
		margin-bottom: 6px;
	}
}
@media screen and (max-width: 769px) {
	.section-list__wrapper {
		flex-direction: column;
	}
}

/* ==================================================================== MAIN / SECTION-CARDS */
.section-cards {
	padding: 100px 0px;
}
.section-cards__items {
	display: flex;
	justify-content: space-between;
}
.section-cards__item {
	flex: 0 1 350px;
	background-color: #fff;
	padding: 45px;
	text-align: center;
	color: #222222;
	font-size: 17px;
}
.section-cards__item:not(:last-child) {
	margin-right: 30px;
}
.section-cards__title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 45px;
}
.section-cards__text {
	font-weight: 300;
	margin-bottom: 45px;
}
.section-cards__link {
	color: #4eaeff;
	text-decoration: underline;
}
@media screen and (max-width: 993px) {
	.section-cards__item {
		padding: 25px;
		font-size: 16px;
	}
	.section-cards__title {
		margin-bottom: 25px;
	}
	.section-cards__text {
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 769px) {
	.section-cards__items {
		flex-wrap: wrap;
		gap: 40px;
		justify-content: center;
	}

	.section-cards__item {
		flex: 0 1 560px;
	}
	.section-cards__item:not(:last-child) {
		margin-right: 0px;
	}
	.section-cards {
		padding: 50px 0px;
	}
}

/* ==================================================================== MAIN / SECTION-CONTACTS */
.section-contacts {
	background-color: #353535;
}
.section-contacts__container {
	color: #ffffff;
	display: flex;
	font-size: 16px;
	line-height: 1.5;
	align-items: center;
}
.section-contacts__left {
	flex: 0 0 50%;
}
.section-contacts__text {
	font-weight: 300;
	margin-bottom: 25px;
}
.section-contacts__wrapper {
	max-width: 350px;
}
.section-contacts__phone {
	margin-bottom: 25px;
}
.section-contacts__title {
	font-size: 16px;
	font-weight: 700;
}
.section-contacts__right {
	flex: 0 0 50%;
}
.section-contacts__image {
	width: 100%;
	object-fit: cover;
}
@media screen and (max-width: 769px) {
	.section-contacts__container {
		flex-direction: column;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.section-contacts__wrapper {
		max-width: 100%;
		text-align: center;
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 481px) {
}
/* ==================================================================== FOOTER */
.footer {
	padding: 50px 0;
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__icons {
	display: flex;
	align-items: center;
	gap: 25px;
}
.footer__copyright {
	line-height: 1.4;
	color: #353535;
	font-size: 20px;
}

/* ==================================================================== @MEDIA */
@media screen and (max-width: 1201px) {
}
@media screen and (max-width: 1025px) {
}
@media screen and (max-width: 993px) {
}
@media screen and (max-width: 769px) {
}
@media screen and (max-width: 481px) {
}
